---
---

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;

  @media (min-width: 768px) {
    background-color: #eee;
  }
}

.page {
  margin: 0;
  padding: 5px 15px;

  @media (min-width: 768px) {
    margin: 54px 108px;
    padding: 54px 108px;
  }

  background-color: white;
}

.navbar {
  margin-bottom: 27px;
}

.navbar-header {
  width: 100%;
}

.navbar-title {
  margin-top: 20px;
  min-height: 20px;
  font-size: 22pt;
}

.navbar-subtitle {
  margin-top: 5px;
  min-height: 20px;
  font-size: 14pt;
}

.navbar-brand {
  float: none;
  margin-left: 0 !important;
  font-size: inherit !important;
  padding: 0;
}

.navbar-toggle {
  margin-top: 20px;
  float: none;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    margin-top: 11px;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}




/* Articles */

.page-content {
  font-size: 1.2em;
  line-height: 1.7em;

  & h1,
    h2,
    p,
    ul {
    margin: 0 0 27px;
  }

  & .footnotes-header {
    display: inline-block;
  }

  & .footnotes {
    & h1,
      h2,
      p,
      ul {
      margin: 0 0 10px;
    }
  }
}
