<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  {% include include_indented.html file='head.html' indent='  ' %}
  <body>
    <div class="page">
      {% include include_indented.html file='nav.html' indent='      ' %}

      {% include content_indented.html content=content indent='      ' %}
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {%- if page.scripts -%}
    {% for script in page.scripts %}
    <script src="{{ script | replace: '&quot;', '' }}"></script>
    {%- endfor -%}
    {% endif %}
    {%- if page.footnotes -%}
    {%- capture js_source -%}{% include footnotes.js %}{%- endcapture -%}
    {% include content_indented.html content=js_source indent='    ' %}
    {% endif %}
  </body>
</html>
