<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-width=1, maximum-width=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    {%- if page.css -%}
    {% for css in page.css %}
    <link rel="stylesheet" href="{{ css | replace: '&quot;', '' }}">
    {%- endfor -%}
    {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page clearfix">
      {%- capture navbar -%}{%- include nav.html -%}{%- endcapture -%}
      {%- assign navbar_lines = navbar | newline_to_br | strip_newlines | split: '<br />' -%}
      {% for line in navbar_lines %}
      {{ line }}
      {%- endfor- %}
      
      {% assign content_lines = content | newline_to_br | strip_newlines | split: '<br />' %}
      {%- if page.skip_container -%}
      {% for line in content_lines %}
      {{ line }}
      {%- endfor- %}
      {%- else -%}
      <div class="container">
        {% for line in content_lines %}
        {{ line }}
        {%- endfor -%}
        {{ '' }}
      </div>
      {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {%- if page.scripts -%}
    {% for script in page.scripts %}
    <script src="{{ script | replace: '&quot;', '' }}"></script>
    {%- endfor -%}
    {% endif %}
  </body>
</html>
